/* BACKGROUND */
body {
  background-color: #efe8da;
  margin: 0;
  min-height: 100vh;
}
/* Linked menu added courtesy of  Eveline Ingesson and inspired by this link: https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp */
/* HEADER & LINKED MENU*/
header {
  background-color: #929f72;
  width: 20%;
  margin: 0;
  padding-left: 1rem;
  height: 100%;
  position: fixed;
}

h1 {
  margin-top: 0%;
  padding-top: 2rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #efe8da;
}

/* Liststyle tag added courtesy of Eveline Ingesson */
ul {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #efe8da;
  list-style: none;
  line-height: 3rem;
  padding-left: 0%;
}

a {
  color: #efe8da;
}

main {
  margin-left: 20%;
  padding-left: 2rem;
  padding-right: 1rem;
}

/* IMAGES */

img {
  max-width: 100%;
  max-height: 100%;
}

#mail-me-pic {
  float: left;
  padding-right: 2rem;
  padding-left: 15%;
  padding-top: 15%;
}

/* TEXT */

p,
h3 {
  font-family: "EB Garamond", serif;
  color: #929f72;
}

h2 {
  margin-top: 0%;
  padding-top: 4rem;
  font-family: "EB Garamond", serif;
  color: #929f72;
}

footer {
  margin-left: 20%;
  margin-top: 80%;
  padding-left: 2rem;
  border-top: solid #929f72;
}

.mainpage-text {
  margin-top: 0%;
  padding-top: 4rem;
  padding-left: 10%;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #929f72;
  font-size: xxx-large;
}

/* SPECIFIC SECTIONS & GRID */

#coffee-table-book {
  display: grid;
  grid-template-columns: 1fr;
  padding-right: 10%;
}

.text {
  padding-top: 0;
  padding-right: 10%;
  padding-left: 10%;
  margin-right: 0%;
}

/* Contact form */
#mail-me-text {
  padding-left: 15%;
  padding-top: 17%;
  padding-right: 10%;
}

#input {
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-right: 0%;
  border: solid #929f72;
}

#btn {
  padding: 1%;
  background-color: #929f72;
  border: none;
  color: #efe8da;
  animation-name: colorchange;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes colorchange {
  10% {
    background-color: #929f72;
  }
  20% {
    background-color: lightskyblue;
  }
  30% {
    background-color: plum;
  }
  40% {
    background-color: lightpink;
  }
  50% {
    background-color: lightcoral;
  }
  60% {
    background-color: orange;
  }
  70% {
    background-color: lightgoldenrodyellow;
  }
  80% {
    background-color: lightyellow;
  }
  90% {
    background-color: beige;
  }
  100% {
    background-color: lightgreen;
  }
}

/* MEDIA QUERIES */
/* Media Queries inspired by Eveline Ingesson */
/* Header media querie inspired by this link: https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp */

@media screen and (max-width: 700px) {
  header {
    width: 100%;
    height: auto;
    position: relative;
  }
  ul {
    display: flex;
  }
  li {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  main {
    margin-left: 0%;
  }
  footer {
    margin-left: 0%;
  }
  #mail-me-pic {
    float: none;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0%;
  }
  #mail-me-text {
    padding-top: 0%;
    padding-left: 5;
    padding-left: 5%;
  }
}

@media screen and (min-width: 500px) {
  .pictures {
    display: grid;
    grid-template-areas:
      "img img"
      "img img"
      "img img"
      "img img";
    padding-top: 2rem;
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media screen and (min-width: 700px) {
  .pictures {
    display: grid;
    grid-template-areas:
      "img img img"
      "img img img"
      "img img img";
    padding-top: 2rem;
    padding-right: 10%;
    padding-left: 10%;
  }
}
